h1 {
    color: white;
    /* Adicionar mais estilos conforme necessário */
}
p {
    color: white;
    /* Adicionar mais estilos conforme necessário */
}
button {
    background-color: ciano;
    color: white;
    border: none;
    /* Adicionar mais estilos conforme necessário */
}
img {
    /* Adicionar estilos para formatar a imagem */
}
/* Adicionar mais estilos conforme necessário */